*.o
src/*
src/*~
doc/*
data/*
!data/sim_con.txt
!data/sim_hb.txt
!data/sim_hb2d.txt
!data/sim_broadening.txt
analysis/*
!analysis/*.py
!src/OPTIONS*
!src/*.[ch]
!src/param
!src/doxyfile
!doc/*.tex
!data/lcplot*.py
brains
