*.o
src/*
src/*~
doc/*
data/*
!data/sim_con.txt
!data/sim_hb.txt
!data/sim_hb2d.txt
!data/sim_broadening.txt
!data/sim_sa.txt
analysis/*
!analysis/*.py
!analysis/readme.txt
!src/*.[ch]
!src/doxyfile
!doc/*.tex
!data/lcplot_v3.py
!param
!param/param
!param/OPTIONS*
brains
